# First Name: Anh Duc
# Last Name: Dang

# Importing libraries

In [4]:
#import pandas & numpy
import pandas as pd
import numpy as np

# Read in the nesarc.csv file

In [5]:
#read in csv file into 
nesarc = pd.read_csv('nesarc.csv', low_memory=False) #increase efficiency

# getting the number of rows, columns and printing the first 5 rows

In [6]:
print (len(nesarc)) #number of rows (observations)
print (len(nesarc.columns)) # number of columns (variables)

nesarc.head() #print the first five rows

43093
760

,S3BQ1A1,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,...,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP,NDSymptoms
0,0,5,,1,4007,403,3928.613505,14,8,2001,...,0,0,0,0,0,0,0,0,0,NaN
1,1,5,0.0014,2,6045,604,3638.691845,12,1,2002,...,0,0,0,0,0,0,0,0,0,NaN
2,2,5,,3,12042,1218,5779.032025,23,11,2001,...,0,0,0,0,0,0,0,0,0,NaN
3,3,5,,4,17099,1704,1071.754303,9,9,2001,...,0,0,0,0,0,0,0,0,0,NaN
4,4,2,,5,17099,1704,4986.952377,18,10,2001,...,0,0,0,0,0,0,0,0,0,NaN

# Nicotine dependence - 12 months (TAB12MDX)

In [7]:
nesarc['TAB12MDX'] = pd.to_numeric(nesarc['TAB12MDX'],errors='coerce') #convert variable to numeric
nesarc['TAB12MDX'].head(25) #print the first 25 rows

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    1
15    0
16    0
17    1
18    0
19    0
20    1
21    0
22    1
23    0
24    0
Name: TAB12MDX, dtype: int64

In [ ]:
#calculate counts 
c_nic_dep = nesarc['TAB12MDX'].value_counts(sort=False) #sort by values (not count)
print (c_nic_dep)

#calculate percentages
p_nic_dep = nesarc['TAB12MDX'].value_counts(sort=False, normalize=True) #normalize=True will give percentage
print (p_nic_dep)

In [ ]:
print('counts for TAB12MDX') #add titles to understand output
print (c_nic_dep)

print('percentages for TAB12MDX') #add titles to understand output
print (p_nic_dep)

In [ ]:
print ('counts for TAB12MDX â€“ nicotine dependence in the past 12 months, yes=1') #better titles
print (c_nic_dep)

print ('percentages for TAB12MDX nicotine dependence in the past 12 months, yes=1') #better titles
print (p_nic_dep)

# Cigarette smoking status (CHECK321)

In [ ]:
nesarc['CHECK321'] = pd.to_numeric(nesarc['CHECK321'], errors='coerce') #convert smoking status to numeric
nesarc['CHECK321'].head(25) #print the first 25

In [ ]:
c_cig_status = nesarc['CHECK321'].value_counts(sort=False) #get count in each category
print ('counts for CHECK321 smoked in the past year, yes=1')
print(c_cig_status)

p_cig_status = nesarc['CHECK321'].value_counts(sort=False, normalize=True) #get percentage
print ('percentages for CHECK321 smoked in the past year, yes=1')
print (p_cig_status)

# Usual frequency of smoked cigarettes (S3AQ3B1)

In [ ]:
nesarc['S3AQ3B1'] = pd.to_numeric(nesarc['S3AQ3B1'], errors='coerce')
nesarc['S3AQ3B1'].head(25)

In [ ]:
c_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False)
print ('counts for S3AQ3B1 â€“usual frequency when smoked cigarettes')
print(c_cig_feq)

p_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False, normalize=True)
print ('percentages for S3AQ3B1 - usual frequency when smoked cigarettes')
print (p_cig_feq)

In [ ]:
nesarc['S3AQ3B1'] = nesarc['S3AQ3B1'].astype('category') #set the data type as categorical data

c_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False)
print ('counts for S3AQ3B1 â€“usual frequency when smoked cigarettes')
print(c_cig_feq)

p_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=True, normalize=True)
print ('percentages for S3AQ3B1 - usual frequency when smoked cigarettes')
print (p_cig_feq)

# Usual quantity when smoked cigarettes (S3AQ3C1)

In [ ]:
nesarc['S3AQ3C1'] = pd.to_numeric(nesarc['S3AQ3C1'], errors='coerce')
nesarc['S3AQ3C1'] = nesarc['S3AQ3C1'].astype("category")#check code - M

c_cig_quan = nesarc['S3AQ3C1'].value_counts(sort=False)
print ('counts for S3AQ3C1 usual quantity when smoked cigarettes')
print(c_cig_quan)

p_cig_quan = nesarc['S3AQ3C1'].value_counts(sort=False, normalize=True)
print ('percentages for S3AQ3C1 usual quantity when smoked cigarettes')

print (p_cig_quan)

# Groupby - An alternative way to do count & percentages

In [ ]:
#count using groupby
c_nic_dep_alt = nesarc.groupby('TAB12MDX').size()
print(c_nic_dep_alt)

In [ ]:
p_nic_dep_alt = nesarc.groupby('TAB12MDX').size()*100/len(nesarc)
print(p_nic_dep_alt)

# Subset of data

In [8]:
nesarc['AGE'] = pd.to_numeric(nesarc['AGE'], errors='coerce')

#subset data to young adults age 18 to 25 who have smoked in the past 12 months
sub1=nesarc[(nesarc['AGE']>=18) & (nesarc['AGE']<=25) & (nesarc['CHECK321']==1)]

#make a copy of the new subsetted data
sub2 = sub1.copy()

c5 = sub2['AGE'].value_counts(sort=False)
print ('counts for AGE')
print(c5)

p5 = sub2['AGE'].value_counts(sort=False, normalize=True)
print ('percentages for AGE')
print (p5)

counts for AGE
18    161
19    200
20    221
21    239
22    228
23    231
24    241
25    185
Name: AGE, dtype: int64
percentages for AGE
18    0.094373
19    0.117233
20    0.129543
21    0.140094
22    0.133646
23    0.135404
24    0.141266
25    0.108441
Name: AGE, dtype: float64

# Column Names to upper case

In [ ]:
#convert all column names to upper case
nesarc.columns = map(str.upper,nesarc.columns)

# avoid run time errors - bug fix for display formats

In [ ]:
pd.set_option('display.float_format', lambda x:'%f'%x)